.apply_confirm, .apply_complete{
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea {
    background: #f1f1f1;
  }
  .form_radio .radio_item label::before{
    background: #f1f1f1;
  }
  #mainTitle{
    padding: 60px 0;
    .mainttl_inner{
      @include waku;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
      background-color: #ffffff;
      .main_ttl{
        padding: 10px 20px;
        font-size: 22px;;
        letter-spacing: 1px;
        color: #ffffff;
        background: $basicRed;
        border-radius: 5px 5px 0 0;
      }
      .main_ttl_txt{
        padding: 10px 20px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
        span{
          display: block;
        }
      }
    }
  }
  #submitWrap{
    .form_wrap{
      margin-bottom: 0 !important;
      .submit_confirm{
        @include waku;
        @include flexSet;
        justify-content: space-between;
        #submitButton, #backButton{
          appearance:none;
          width: 520px;
          border-radius: 100px;
          box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
          text-align: center;
          padding: 10px 0;
          color: #fff;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: 1px;
          border: none;
          @include hover;
        }
        #submitButton{
          @include blueGrad;
        }
        #backButton{
          background: #aaa;
        }
      }
    }
  }
  #links{
    padding: 60px 0;
    background: $basicGray03;
    .link_wrap{
      margin-top: 35px;
      @include flexSet;
      align-items: center;
      .img_wrap{
        width: 230px;
        margin-right: 20px;
        a{
          display: block;
          @include hover;
        }
      }
      .txt_wrap{
        width: calc(100% - 250px);
        .link_ttl{
          @include blueGrad;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 2px;
          color: #ffffff;
          padding: 7px 10px;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        .link_txt{
          font-size: 16px;
          letter-spacing: 1.6px;
          line-height: 1.5;
          margin-bottom: 10px;
        }
        .link_button{
          display: block;
          span{
            position: relative;
            font-size: 16px;
            letter-spacing: 2px;
            color: #666;
            padding-right: 70px;
            &::after{
              display: block;
              content:"";
              position: absolute;
              top:0;
              bottom:0;
              right:0;
              margin: auto;
              width: 60px;
              height: 10px;
              @include bgSet;
              background-image: url(../img/apply/arrow.png);
              background-size: 60px;
              transition: right .5s;
            }
          }
          &:hover{
            span{
              &::after{
                right: -10px;
              }
            }
          }
        }
      }
      &:nth-of-type(1){
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px dotted #aaa;
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .apply_confirm, .apply_complete{
    #mainTitle{
      padding: 40px 0;
    }
    #submitWrap{
      padding: 30px 0 !important;
      .form_wrap{
        margin-bottom: 0 !important;
        .submit_confirm{
          display: block;
          #submitButton, #backButton{
            width: 100%;
            font-size: 18px;
            padding: 10px 0;
          }
          #submitButton{
            margin-bottom: 15px;
          }
        }
      }
    }
    #links{
      padding: 40px 0;
      background: $basicGray03;
      .common_ttl{
        line-height: 1.4;
        padding-bottom: 7px;
      }
      .link_wrap{
        .txt_wrap{
          .link_txt{
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 1.6;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .apply_confirm, .apply_complete{
    #mainTitle{
      padding: 30px 0;
      .mainttl_inner{
        .main_ttl{
          padding: 10px;
          font-size: 18px;
        }
        .main_ttl_txt{
          padding: 10px;
          font-size: 14px;
          line-height: 1.6;
        }
      }
    }
    #submitWrap{
      .form_wrap{
        .submit_confirm{
          #submitButton, #backButton{
            font-size: 16px;
          }
          #submitButton{
            @include blueGrad;
            margin-bottom: 10px;
          }
        }
      }
    }
    #links{
      padding: 30px 0;
      .link_wrap{
        margin-top: 35px;
        display: block;
        .img_wrap{
          width: 100%;
          margin-right: 0px;
          margin-bottom: 15px;
        }
        .txt_wrap{
          width: 100%;
          .link_ttl{
            @include blueGrad;
            font-size: 14px;
            letter-spacing: 1px;;
          }
          .link_txt{
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 1.6;
            margin-bottom: 20px;
          }
          .link_button{
            display: block;
            span{
              position: relative;
              font-size: 14px;
              letter-spacing: 1px;
              padding-right: 50px;
              &::after{
                width: 40px;
                height: 10px;
                background-size: 40px;
              }
            }
          }
        }
        &:nth-of-type(1){
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

}
