.apply_section{
	padding: 60px 0 30px;
	&#step01{
		padding: 60px 0;
	}
	&.gray_bg{
		background: $basicGray03;
	}
	.txt_upper{
		.apply_ttl{
			font-size: 24px;
			font-weight: normal;
  		letter-spacing: 0.9px;
			color: $basicRed;
			margin-bottom: 25px;
			span{
				display: inline-block;
				@include poppins;
				font-size: 30px;
  			letter-spacing: 2px;
				margin-right: 0.5em;
			}
		}
		.apply_txt{
			font-size: 16px;
  		line-height: 1.6;
  		letter-spacing: 1px;
			span{
				display: block;
			}
		}
		.ttl_help{
			margin: 20px 0 10px;
			span{
				font-size: 18px;
				line-height: 40px;
				color: $basicBlue01;
				position: relative;
				padding-left:50px;
				&::before{
					display: block;
					content: "";
					position: absolute;
					top:0;
					bottom:0;
					left:0;
					margin: auto;
					width: 40px;
					height: 40px;
					@include bgSet;
					background-image: url(../img/apply/help.png);
					background-size: 40px;
				}
			}
		}
		.notice_list{
			ul{
				li{
					font-size: 16px;
		  		line-height: 1.6;
		  		letter-spacing: 1px;
				}
			}
		}
	}
	.login_button{
		margin-top: 40px;
		a{
			display: block;
			box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
			@include submitButton;
			@include hover;
		}
	}
	.form_block{
		margin-top: 60px;
		.form_wrap{
			margin-bottom: 40px;
			.form_ttl{
				position: relative;
				.help{
					display: block;
					position: absolute;
					top:0;
					bottom:5px;
					right:0;
					margin: auto;
					width: 30px;
					height: 30px;
					@include bgSet;
					background-image: url(../img/apply/help.png);
					background-size: 30px;
				}
				&.required{
					.common_ttl{
						span{
							position: relative;
							&::after{
								display: inline-block;
								content: "必須";
								border-radius: 100px;
								background-color: $basicRed;
								padding: 7px 15px;
								color: #fff;
								margin-left: 15px;
								font-size: 14px;
							}
						}
					}
				}
			}
			.form_text, .form_radio{
				input[type="number"]{
					display: inline-block;
    			width: 100px;
    			margin-right: 1em;
				}
				input[type="tel"]{
					width: 380px;
				}
				.alert_msg{
					display: none;
					width: 100%;
					padding: 15px 0 0;
					color: red;
					font-size: 14px;
					letter-spacing: 1px;
				}
				&.alert{
					.alert_msg{
						display: block;
					}
				}
			}
		}
	}
}
#apply{
	#submitWrap{
		padding: 60px 0;
		@include dotBg;
		.form_wrap{
			text-align: center;
			margin-bottom: 30px;
			.form_radio{
				@include flexSet;
				justify-content: center;
				a{
					color: #068acc;
					text-decoration: underline;
					@include hover;
					display: inline-block;
					padding: 0 0.2em;
				}
			}
		}
		.submit{
			position: relative;
			.submit_wrap{
				@include submitNext;
				&.disable {
					pointer-events: none;
					.submit_label {
						opacity: 0.7;
						background: #aaa;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 720px){
	.apply_section{
		padding: 25px 0 50px;
		&#step01{
			padding: 25px 0 50px;
		}
		&#step03{
			padding: 25px 0 10px;
		}
		&#notice{
			padding: 40px 0;
		}
		&.gray_bg{
			background: $basicGray03;
		}
		.txt_upper{
			.apply_ttl{
				font-size: 18px;
				line-height: 1.4;
				margin-bottom: 20px;
				span{
					display: block;
					font-size: 26px;
	  			letter-spacing: 1px;
					margin-right: 0;
				}
			}
			.apply_txt{
				font-size: 14px;
	  		line-height: 1.6;
	  		letter-spacing: 1px;
				span{
					display: block;
				}
			}
			.ttl_help{
				margin: 10px 0;
				span{
					font-size: 16px;
					line-height: 30px;
					padding-left:40px;
					&::before{
						width: 30px;
						height: 30px;
						background-size: 30px;
					}
				}
			}
			.notice_list{
				ul{
					li{
						font-size: 16px;
			  		line-height: 1.6;
			  		letter-spacing: 1px;
					}
				}
			}
		}
		.login_button{
			margin-top: 20px;
			a{
				font-size: 16px;
			}
		}
		.form_block{
			margin-top: 40px;
			.form_wrap{
				margin-bottom: 40px;
				.form_ttl{
					position: relative;
					.common_ttl{
						padding-right: 35px;
						line-height: 1.6;
						padding-bottom: 7px;
						@media screen and(max-width: 350px){
							font-size: 14px;
						}
					}
					.help{
						width: 30px;
						height: 30px;
						background-size: 30px;
					}
					&.required{
						.common_ttl{
							span{
								position: relative;
								&::after{
									content: "必須";
									padding: 5px 15px;
									margin-left: 15px;
									font-size: 12px;
								}
							}
						}
					}
				}
				.form_text{
					input[type="tel"]{
						width: 100%;
					}
				}
			}
		}
	}
	#apply{
		#submitWrap{
			padding: 30px 0;
			.form_wrap{
				margin-bottom: 20px;
				.form_radio{
					@include flexSet;
					justify-content: center;
					.radio_item{
						&::before{
							top: 10px;
						}
						.radio_label{
							text-align: left;
							line-height: 1.6;
							span{
								display: block;
							}
						}
					}

				}
			}
			.submit{
				position: relative;
				.submit_wrap{
					width: 90%;
					margin: 0 auto;
				}
			}
		}
	}
}
