#bread {
	width: 100%;
	height: 45px;
	background-color: #f4f4f4;

	.inner {
		@include waku;
		position: relative;

		.step {
			ul {
				@include flexSet;

				li {
					position: relative;
					width: calc(100% / 3);
					line-height: 45px;
					text-align: center;
					font-size: 14px;
					letter-spacing: 0.9px;
					color: #666666;

					span {
						position: relative;
						z-index: 10;
					}
				}
			}
		}
	}
}
#index{
	#bread{
		.inner{
			@include indentRight;
			&::before{
				background: $basicBlue01;
			}
		}
		.step01 {
			background:linear-gradient(90deg, $basicBlue01 0%, $basicBlue01 50%, #f1f1f1 50%, #f1f1f1 100%);
			&::before{
				display: block;
				content: "";
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				margin: auto;
				width: 100%;
				height: 45px;
				@include blueGrad;
				transform: skewX(-30deg);
			}
			span{
				color: #fff;
			}
		}
	}
}
#doctorList {
	#bread{
		.step02 {
			&::before{
				display: block;
				content: "";
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				margin: auto;
				width: 100%;
				height: 45px;
				@include blueGrad;
				transform: skewX(-30deg);
			}
			span{
				color: #fff;
			}
		}
	}
}
#apply{
	#bread{
		.inner{
			@include indentLeft;
			&::before{
				background: $basicBlue02;
			}
		}
		.step03 {
			background:linear-gradient(90deg, #f1f1f1 0%, #f1f1f1 50%, $basicBlue02 50%, $basicBlue02 100%);
			&::before{
				display: block;
				content: "";
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				margin: auto;
				width: 100%;
				height: 45px;
				@include blueGrad;
				transform: skewX(-30deg);
			}
			span{
				color: #fff;
			}
		}
	}
}
@media screen and (max-width: 1100px){
	#bread {
		width: 100%;
		height: 45px;
		background-color: #f4f4f4;

		.inner {
			@include waku;
			position: relative;

			.step {
				ul {
					display: block;

					li {
						width: 100%;
					}
				}
			}
		}
	}
	#index{
		#bread{
			.inner{
				@include indentRight;
				&::before{
					background: $basicBlue01;
				}
			}
			.step01 {
				background:linear-gradient(90deg, $basicBlue01 0%, $basicBlue01 50%, #f1f1f1 50%, #f1f1f1 100%);
				&::before{
					display: block;
					content: "";
					position: absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					margin: auto;
					width: 100%;
					height: 45px;
					@include blueGrad;
					transform: skewX(-30deg);
				}
				span{
					color: #fff;
				}
			}
		}
	}
	#doctorList {
		#bread{
			@include blueGrad;
			.step01, .step03{
				display: none;
			}
			.step02 {
				background: none;
				&::before{
					display: none;
				}
			}
		}
	}
	#apply{
		#bread{
			@include blueGrad;
			.step01, .step02{
				display: none;
			}
			.step03 {
				background: none;
				&::before{
					display: none;
				}
			}
		}
	}
}
@media screen and (max-width: 720px){
	#bread {
		width: 100%;
		height: auto;
		background-color: #f4f4f4;

		.inner {
			@include waku;
			position: relative;

			.step {
				ul {
					display: block;

					li {
						line-height: 45px;
						text-align: center;
						font-size: 14px;
						letter-spacing: 0.9px;
						color: #666666;

						span {
							position: relative;
							z-index: 10;
						}
					}
				}
			}
		}
	}
	#index{
		#bread{
			.inner{
				@include indentRight;
				&::before{
					background: $basicBlue01;
				}
			}
			.step01 {
				background:linear-gradient(90deg, $basicBlue01 0%, $basicBlue01 50%, #f1f1f1 50%, #f1f1f1 100%);
				&::before{
					display: block;
					content: "";
					position: absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					margin: auto;
					width: 100%;
					height: 45px;
					@include blueGrad;
					transform: skewX(-30deg);
				}
				span{
					color: #fff;
				}
			}
		}
	}
	#doctorList {
		#bread{
			.step02 {
				&::before{
					display: block;
					content: "";
					position: absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					margin: auto;
					width: 100%;
					height: 45px;
					@include blueGrad;
					transform: skewX(-30deg);
				}
				span{
					color: #fff;
				}
			}
		}
	}
	#apply{
		#bread{
			height: 35px;
			.step01, .step02{
				display: none;
			}
			.step03 {
				line-height: 35px;
				&::before{
					display: none;
				}
				span{
					color: #fff;
				}
			}
		}
	}
}
