#doctor{
  header{
    .header_inner{
      .header_alert{
        height: 40px;
        line-height: 40px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        span.alert_pc{
          display: block;
          height: 40px;
          line-height: 40px;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
          color: #d45b54;
          padding-left: 35px;
          @include bgSet;
          background-position: left center;
          background-size: 25px;
          background-image: url(../img/common/alert_icon.png)
        }
        span.alert_sp{
          display: none;
        }
      }
    }
  }
  #bread {
  	.inner {
      .bread_txt{
        line-height: 45px;
        font-size: 18px;
        letter-spacing: 1px;
      }
      .login_info{
        line-height: 45px;
        font-size: 14px;
        letter-spacing: 1px;
        position: relative;
        .houjin{
          position: relative;
          padding-right: 15px;
          margin-right: 10px;
          &::before{
            display: inline-block;
            content: "医療法人:";
            padding-right: 0.3em;
          }
          &::after{
            display: block;
            content: "";
            position: absolute;
            right: 0;
            top:0;
            bottom: 0;
            margin: auto;
            width: 1px;
            height: 20px;
            background-color: #aaaaaa;
          }
        }
        .hospotal{
          &::before{
            display: inline-block;
            content: "医療機関名:";
            padding-right: 0.3em;
          }
        }
        .logout{
          position: absolute;
          right: 0;
          top:0;
          bottom:0;
          margin: auto;
          font-size: 14px;
          text-align: center;
          color: #fff;
          display: block;
          width: 100px;
          background: $basicBlue01;
          height: 30px;
          line-height: 30px;
          border-radius: 100px;
          @include hover;
          box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
        }
      }
  	}
  }
  #pankuzu{
    @include waku;
    overflow: hidden;
    padding-top: 30px;
    ul{
      display: flex;
      flex-wrap: nowrap;
      li{
        font-size: 14px;
        &::after{
          display: inline-block;
          content: "▶︎";
          padding: 0 10px;
          color: #aaa;
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
        a{
          color: $basicBlue01;
          @include hover;
          text-decoration: underline;
        }
      }
    }
  }
  section{
    .bg_wrap{
      @include waku;
      box-sizing: border-box;
      padding: 25px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
      border: solid 1px #d8d8d8;
      background-color: #f4f4f4;
    }
  }
  footer{
    background: #f4f4f4;
  }
  .list_table{
    width: 100%;
    box-sizing: border-box;
    margin: 15px auto;
    background: #fff;
    padding: 0px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
    .table_contents{
      @include flexSet;
      &.mitaiou{
        background: rgba($basicRed, 0.2);
      }
      &.monshin{
        background: #f6fdea;
      }
      &.tyousei{
        background: #fff;
      }
      &.ng{
        background: rgba(241, 241, 241, 0.6);
      }
      &.completed{
        background-color: #d2eff7;
      }
      .checkbox{
        width: 40px;
      }
      .date{
        width: 128px;
      }
      .disease{
        width: 200px;
      }
      .assign{
        width: 320px;
      }
      .status{
        width: 170px;

      }
      .edit{
        width: 170px;
        border-right: 0 !important;
      }
      &.table_header{
        div{
          text-align: center;
          font-size: 14px;
          padding: 15px 0;
          border-right: 1px solid #ccc;
          box-sizing: border-box;
        }
      }
      &.table_row{
        border-top: 1px solid #ccc;
        .checkbox, .date, .disease, .assign, .status, .edit{
          font-size: 14px;
          line-height: 1.6;
          padding: 15px 10px;
          border-right: 1px dotted #d8d8d8;
          box-sizing: border-box;
        }
        .checkbox{
          .radio_label{
            display: none;
          }
        }

        .assign{
          padding: 0;
          .hospital_wrap{
            ul{
              li{
                @include flexSet;
                padding: 15px 10px;
                border-bottom: 1px dotted #d8d8d8;
                &:last-child{
                  border-bottom: 0;
                }
                .name{
                  width: 150px;
                  margin-right: 20px;
                }
                .form_radio{
                  width: calc(100% - 170px);
                  .radio_item{
                    width: 100%;
                    display: block;
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
        .status{
          select{
            width: 100%;
            font-size: 12px;
            color: #666;
            box-sizing: border-box;
            appearance: none;
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
            border: solid 1px #d8d8d8;
            background-color: #ffffff;
            background-image: url(../img/common/select_caret2.png);
            background-size: 38px;
            background-position: center right;
            background-repeat: no-repeat;
            &:focus{
              outline: none;
              border: 1px solid $basicBlue01;
            }
          }

        }
        .edit{
          .button_wrap{
            ul{
              @include flexSet;
              li{
                width: 70px;
                margin-right: 10px;
                &:last-child{
                  margin-right:0;
                }
                input[type="submit"]{
                  width: 100%;
                  appearance: none;
                  display: block;
                  font-size: 12px;
                  padding: 7px 15px;
                  box-sizing: border-box;
                  color: #fff;
                  border-radius: 50px;
                  box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
                  border: solid 1px #ffffff;
                  background-color: #4cbee0;
                  @include hover;
                  &:focus{
                    outline: none;
                  }
                }
                .detail{
                  width: 100%;
                  text-align: center;
                  display: block;
                  font-size: 12px;
                  line-height: 1;
                  padding: 10px 15px;
                  box-sizing: border-box;
                  color: #fff;
                  border-radius: 50px;
                  box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
                  border: solid 1px #ffffff;
                  background-color: #222;
                  @include hover;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px){
  #doctor{
    section{
      .bg_wrap{
        padding: 25px;
      }
    }
    .list_table{
      margin: 15px auto;
      border-radius: 5px;
      .table_contents{
        display: block;
        .checkbox{
          width: 100%;
          border-right: 0;
        }
        .date{
          width: 100%;
          border-right: 0;
          border-bottom: 1px dotted #ccc;
          &::before{
            display: inline-block;
            content: "申し込み日時";
            font-weight: bold;
            font-size: 16px;
            width: 50%;
          }
        }
        .disease{
          width: 100%;
          border-right: 0;
          border-bottom: 1px dotted #ccc;
          &::before{
            display: inline-block;
            content: "疾患名";
            font-weight: bold;
            font-size: 16px;
            width: 50%;
          }
        }
        .assign{
          width: 100%;
          border-right: 0;
          border-bottom: 1px dotted #ccc;
          &::before{
            display: inline-block;
            content: "医療機関/担当医師";
            font-weight: bold;
            font-size: 16px;
            width: 50%;
            padding: 15px 10px 0px;
          }
        }
        .status{
          width: 100%;
          border-right: 0;
          border-bottom: 1px dotted #ccc;
          &::before{
            display: inline-block;
            content: "対応ステータス";
            font-weight: bold;
            font-size: 16px;
            width: 50%;
            margin-bottom: 15px;
          }
        }
        .edit{
          width: 100%;
          border-right: 0 !important;
          &::before{
            display: inline-block;
            content: "編集・詳細";
            font-weight: bold;
            font-size: 16px;
            width: 50%;
            margin-bottom: 15px;
          }
        }
        &.table_header{
          display: none;
          div{
            text-align: center;
            font-size: 14px;
            padding: 15px 0;
            border-right: 1px solid #ccc;
            box-sizing: border-box;
          }
        }
        &.table_row{
          border-top: 0;
          .checkbox, .date, .disease, .assign, .status, .edit{
            font-size: 14px;
            line-height: 1.6;
            padding: 15px 10px;
            border-right: 1px dotted #d8d8d8;
            box-sizing: border-box;
          }

          .checkbox{
            .radio_label{
              display: inline-block;
              font-size: 14px;
              font-weight: bold;
              counter-reset: number 0;
              &::before{
                display: inline;
                counter-increment: number 1;
                content:"リストNo.";
              }
            }
          }

          .assign{
            padding: 0;
            .hospital_wrap{
              ul{
                li{
                  display: block;
                  padding: 15px 10px;
                  border-bottom: 1px dotted #d8d8d8;
                  &:last-child{
                    border-bottom: 0;
                  }
                  .name{
                    width: 100%;
                    background: #f1f1f1;
                    padding: 5px 10px;
                    border-radius: 5px;
                    margin-right: 0px;
                    margin-bottom: 15px;
                    box-sizing: border-box;
                  }
                  .form_radio{
                    width: 100%;
                    .radio_item{
                      width: auto;
                      display: inline;
                      margin-bottom: 10px;
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
          }
          .status{
            select{
              font-size: 16px;
              padding: 5px 10px;
              background-size: 48px;
            }

          }
          .edit{
            .button_wrap{
              ul{
                @include flexSet;
                li{
                  width: 49%;
                  margin-right: 2%;
                  &:last-child{
                    margin-right:0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 720px){
  #doctor{
    header{
      .header_inner{
        .header_alert{
          height: 40px;
          line-height: 40px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          span.alert_pc{
            display: none;
          }
          span.alert_sp{
            display: block;
            height: 40px;
            line-height: 40px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 1px;
            color: #d45b54;
            padding-left: 30px;
            @include bgSet;
            background-position: left center;
            background-size: 25px;
            background-image: url(../img/common/alert_icon.png)
          }
        }
      }
    }
    #bread {
      padding: 10px 0;
    	.inner {
        .bread_txt{
          line-height: 1.6;
          font-size: 18px;
          letter-spacing: 1px;
        }
        .login_info{
          line-height: 1.6;
          font-size: 14px;
          letter-spacing: 0.02em;
          .houjin{
            position: relative;
            padding-right: 15px;
            margin-right: 10px;
            &::before{
              padding-right: 0.2em;
            }
            &::after{
              display: none;
            }
          }
          .hospotal{
            &::before{
              padding-right: 0.2em;
            }
          }
          .logout{
            position: static;
            margin: 10px 0 0;
            font-size: 14px;
            text-align: left;
            color: $basicBlue01;
            display: block;
            width: auto;
            background: none;
            height: 20px;
            line-height: 20px;
            border-radius: 0px;
            box-shadow: none;
          }
        }
    	}
    }
    #pankuzu{
      padding-top: 20px;
      ul{
        display: flex;
        flex-wrap: nowrap;
        li{
          font-size: 12px;
        }
      }
    }
    section{
      .bg_wrap{
        padding: 25px 15px;
      }
    }
    .list_table{
      width: 100%;
      box-sizing: border-box;
      margin: 15px auto;
      background: #fff;
      padding: 0px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
      .table_contents{
        @include flexSet;
        .date{
          &::before{
            font-size: 14px;
          }
        }
        .disease{
          &::before{
            font-size: 14px;
          }
        }
        .assign{
          &::before{
            width: 100%;
            font-size: 14px;
          }
        }
        .status{
          &::before{
            content: "対応ステータス";
            font-size: 14px;
            width: 100%;
          }
        }
        .edit{
          width: 100%;
          border-right: 0 !important;
          &::before{
            width: 100%;
            font-size: 14px;
          }
        }
        &.table_header{
          div{
            text-align: center;
            font-size: 14px;
            padding: 15px 0;
            border-right: 1px solid #ccc;
            box-sizing: border-box;
          }
        }
        &.table_row{
          border-top: 1px solid #ccc;
          .checkbox, .date, .disease, .assign, .status, .edit{
            font-size: 14px;
            line-height: 1.6;
            padding: 15px 10px;
            border-right: 1px dotted #d8d8d8;
            box-sizing: border-box;
          }
          .checkbox{

          }

          .assign{
            padding: 0;
            .hospital_wrap{
              ul{
                li{
                  padding: 15px 10px;
                  border-bottom: 1px dotted #d8d8d8;
                  &:last-child{
                    border-bottom: 0;
                  }
                  .name{
                    box-sizing: border-box;
                  }
                  .form_radio{
                    .radio_item{
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
          .edit{
            .button_wrap{
              ul{
                @include flexSet;
                li{
                  &:last-child{
                    margin-right:0;
                  }
                  .detail{
                    width: 100%;
                    text-align: center;
                    display: block;
                    font-size: 12px;
                    line-height: 1;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    color: #fff;
                    border-radius: 50px;
                    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
                    border: solid 1px #ffffff;
                    background-color: #222;
                    @include hover;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
