form {
  label {}

  span {}

  select {
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
  }

  :placeholder-shown {
    color: $basicGray01;
    font-size: 16px;
  }

  ::-webkit-input-placeholder {
    color: $basicGray01;
  }

  :-moz-placeholder {
    color: $basicGray01;
    opacity: 1;
  }

  ::-moz-placeholder {
    color: $basicGray01;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: $basicGray01;
  }

  textarea {
    box-sizing: border-box;
    padding: 5px;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: none;
    font-size: 16px;
    line-height: 1.5;
  }

  input {
    transition: all 0.3s;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="submit"]:focus,
  input[type="password"]:focus,
  select:focus,
  textarea:focus {
    outline: 0;
    border-color: rgba($basicBlue01, 1) !important;
  }

  input[type="radio"]{
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    line-height: normal; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
    border: solid 1px #999;
    background: #ffffff;
    color: #666;
  }

  textarea{
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    padding: 10px;
    font-size: 16px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
    border: solid 1px #999;
    background: #ffffff;
    color: #666;
  }

  input[type="submit"],
  input[type="button"] {
    appearance: none;
  }
}

/* custom */

.form_radio{
  @include flexSet;
  .radio_item{
    label{
      @include flexSet;
      align-items: center;
      margin-right: 15px;
      padding: 0px 0px 0px 30px;
      line-height: 20px;
      position: relative;
      &::before{
        display: block;
        content: "";
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        width: 20px;
        height: 20px;
        border-radius: 22.5px;
        box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
        border: solid 1px $basicBlack03;
        background: #fff;
      }
      &:after{
        display: block;
        content: "";
        position: absolute;
        top:6px;
        bottom:6px;
        left:6px;
        width: 10px;
        height: 10px;
        border-radius: 22.5px;
        background: $basicBlue01;
        opacity:0;
        transition: opacity .5s;
      }
      input[type="checkbox"], input[type="radio"]{
        display: none;
      }
      &.selected{
        &:after{
          opacity: 1;
        }
      }
    }
  }
}
