#matchingList{
  #filter{
    padding: 50px 0;
    label{
      display: block;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1;
      margin-bottom: 10px;
    }
    .filter_wrap{
      @include flexSet;
      margin: 15px auto 30px;
      .filter_item{
        width: 320px;
        margin-right: 30px;
        &.last{
          margin-right:0;
        }
        select{
          width: 100%;
          font-size: 14px;
          color: #666;
          box-sizing: border-box;
          appearance: none;
          padding: 7px 15px;
          border-radius: 5px;
          box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
          border: solid 1px #d8d8d8;
          background-color: #ffffff;
          background-image: url(../img/common/select_caret.png);
          background-size: 45px;
          background-position: center right;
          background-repeat: no-repeat;
          &:focus{
            outline: none;
            border: 1px solid $basicBlue02;
          }
        }
      }
    }
    .filter_date{
      input[type="date"]{
        display: inline-block;
        width: 200px;
        position: relative;
        font-size: 14px;
        color: #666;
        box-sizing: border-box;
        appearance: none;
        padding: 7px 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
        border: solid 1px #d8d8d8;
        background-color: #ffffff;
        background-image: url(../img/common/select_caret.png);
        background-size: 45px;
        background-position: center right;
        background-repeat: no-repeat;
        &#start{
          margin-right: 0.5em
        }
        &#end{
          margin-left: 0.5em;
        }
        &::-webkit-inner-spin-button{
          appearance: none;
        }
        &::-webkit-clear-button{
          appearance: none;
        }
        &::-webkit-calendar-picker-indicator{
          position: absolute;
          opacity: 0;
          right: 0px;
          top: 0px;
          padding: 0;
          width: 36px;
          height: 36px;
          color: transparent;
          cursor: pointer;
        }
      }
    }
  }
  #list{
    padding-bottom: 50px;
    .list_num{
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .list_table{
      width: 100%;
      box-sizing: border-box;
      margin: 15px auto;
      background: #fff;
      padding: 0px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
      .table_contents{
        @include flexSet;
        &.mitaiou{
          background: rgba(244, 218, 218, 0.5);
        }
        &.monshin{
          background: rgba(210, 244, 149, 0.2);
        }
        &.tyousei{
          background: #fff;
        }
        &.ng{
          background: rgba(241, 241, 241, 0.6);
        }
        &.completed{
          background-color: #d2eff7;
        }
        .checkbox{
          width: 40px;
        }
        .date{
          width: 125px;
        }
        .disease{
          width: 200px;
        }
        .assign{
          width: 320px;
        }
        .status{
          width: 170px;

        }
        .edit{
          width: 170px;
          border-right: 0 !important;
        }
        &.table_header{
          div{
            text-align: center;
            font-size: 14px;
            padding: 15px 0;
            border-right: 1px solid #ccc;
            box-sizing: border-box;
          }
        }
        &.table_row{
          border-top: 1px solid #ccc;
          .checkbox, .date, .disease, .assign, .status, .edit{
            font-size: 14px;
            line-height: 1.6;
            padding: 15px 10px;
            border-right: 1px dotted #d8d8d8;
            box-sizing: border-box;
          }
          .checkbox{

          }

          .assign{
            padding: 0;
            .hospital_wrap{
              ul{
                li{
                  @include flexSet;
                  padding: 15px 10px;
                  border-bottom: 1px dotted #d8d8d8;
                  &:last-child{
                    border-bottom: 0;
                  }
                  .name{
                    width: 150px;
                    margin-right: 20px;
                  }
                  .form_radio{
                    width: calc(100% - 170px);
                    .radio_item{
                      width: 100%;
                      display: block;
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
          .status{
            select{
              width: 100%;
              font-size: 12px;
              color: #666;
              box-sizing: border-box;
              appearance: none;
              padding: 5px 10px;
              border-radius: 5px;
              box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
              border: solid 1px #d8d8d8;
              background-color: #ffffff;
              background-image: url(../img/common/select_caret2.png);
              background-size: 38px;
              background-position: center right;
              background-repeat: no-repeat;
              &:focus{
                outline: none;
                border: 1px solid $basicBlue01;
              }
            }

          }
          .edit{
            .button_wrap{
              ul{
                @include flexSet;
                li{
                  width: 70px;
                  margin-right: 10px;
                  &:last-child{
                    margin-right:0;
                  }
                  input[type="submit"]{
                    width: 100%;
                    appearance: none;
                    display: block;
                    font-size: 12px;
                    padding: 7px 15px;
                    box-sizing: border-box;
                    color: #fff;
                    border-radius: 50px;
                    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
                    border: solid 1px #ffffff;
                    background-color: #4cbee0;
                    @include hover;
                    &:focus{
                      outline: none;
                    }
                  }
                  .detail{
                    width: 100%;
                    text-align: center;
                    display: block;
                    font-size: 12px;
                    line-height: 1;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    color: #fff;
                    border-radius: 50px;
                    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
                    border: solid 1px #ffffff;
                    background-color: #222;
                    @include hover;
                  }
                }
              }
            }
          }
        }
      }
    }
    .list_lower{
      text-align: center;
      #readMore{
        display: block;
        max-width: 800px;
        margin: 40px auto;
        color: #fff;
        font-size: 18px;
        padding: 15px 0;
        border-radius: 100px;
        box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
        background-color: #4cbee0;
        @include hover;
      }
      .submit_wrap{
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
        background: #ffffff;
        padding: 15px 0;
        @include flexSet;
        justify-content: center;
        align-items: center;
        span{
          display: block;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 1px;
          margin-right: 0.5em;
        }
        input[type="submit"]{
          width: 80px;
          appearance: none;
          display: block;
          font-size: 12px;
          padding: 7px 15px;
          box-sizing: border-box;
          color: #fff;
          border-radius: 50px;
          box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
          border: solid 1px #ffffff;
          background-color: #4cbee0;
          @include hover;
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
}
