#popUp{
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
  transition: opacity .5s;
  #popBg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(60, 60, 60, 0.7);
    transition: opacity .5s;
  }
  .popContents{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    @include waku;
    height: 480px;
    z-index: 520;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
  }
  &.popOpen{
    opacity: 1;
    pointer-events: all;
  }
}

#apply{
  #popUp{
    .popContents{
      .pop_ttl_wrap{
        position: relative;
        text-align: center;
        .pop_ttl{
          font-size: 22px;
          font-weight: bold;
          letter-spacing: 1px;
          color: #ffffff;
          padding: 15px 0;
          @include blueGrad;
          border-radius: 5px 5px 0 0;
        }
        #popClose{
          position: absolute;
          top:0;
          bottom:0;
          right: 0px;
          margin: auto;
          width: 55px;
          height: 25px;
          @include bgSet;
          background-image: url(../img/common/close.png);
          background-size: 25px;
        }
      }
      .pop_text{
        padding: 30px 25px;
        .pop_item{
          display: none;
          max-height: 380px;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          .pop_wrap{
            margin-bottom: 25px;
            h4{
              font-size: 18px;
              color: $basicBlue01;
              padding-bottom: 15px;
              margin-bottom: 15px;
              border-bottom: 1px dotted $basicBlue01;
            }
            p{
               font-size: 16px;
               line-height: 1.6;
               letter-spacing: 1px;
            }
          }

        }
      }
    }
  }
}

#doctorList{
  #popUp{
    .popContents{
      background: #f4f4f4;
      .doctor_profile{
        position: relative;
        text-align: center;
        padding: 25px 20px 20px;
        &::before{
          display: block;
          content: "";
          position: absolute;
          top:0;
          left:0;
          right:0;
          margin: auto;
          width: 100%;
          height: 10px;
          @include blueGrad;
          border-radius: 5px 5px 0 0;
        }
        .profile_wrap{
          @include flexSet;
          align-items:center;
          .doctor_icon{
            width: 120px;
            height: 120px;
            margin-right: 20px;
            border-radius: 50%;
            background: #ccc;
            @include bgSet;
            background-size: cover;
            box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
            border: solid 3px #ffffff;
            box-sizing: border-box;
          }
          .profile_txt{
            width: calc(100% - 140px);
            text-align: left;
            .hospital{
              font-size: 14px;
              margin-bottom: 10px;
            }
            .name{
              font-size: 22px;
              font-weight: bold;
              letter-spacing: 0.9px;
              margin-bottom: 10px;
              &::after{
                display: inline-block;
                content: "先生";
                padding-left: 0.3em;
                font-weight: normal;
                font-size: 14px;
              }
            }
            .area{
              display: inline-block;
              font-size: 14px;
              font-weight: bold;
              letter-spacing: 2.2px;
              color: #ffffff;
              padding: 7px 15px;
              border-radius: 30px;
              box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
              &.tokyo{
                background-color: $basicBlue01;
                &::after{
                  content: "東京";
                }
              }
              &.fukuoka{
                background-color: $basicRed;
                &::after{
                  content: "福岡";
                }
              }
            }
          }
        }
        #popClose{
          position: absolute;
          top:25px;
          right: 0px;
          margin: auto;
          width: 55px;
          height: 25px;
          @include bgSet;
          background-image: url(../img/doctor_list/pop_close.png);
          background-size: 25px;
        }
        .relation{
          position: absolute;
          bottom:20px;
          right:20px;
          padding: 10px 20px;
          text-align: left;
          background: $basicRed;
          color: #fff;
          font-size: 16px;
          border-radius: 100px;
          @include hover;
        }
      }
      .pop_text{
        width: calc(100% - 40px);
        margin: 0px auto 20px;
        background: #fff;
        border-radius: 5px;
        height: 300px;
        overflow: hidden;
        .pop_inner{
          @include flexSet;
          box-sizing: border-box;
          padding: 25px;
          height: 300px;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          .pop_content_wrap{
            margin-bottom: 30px;
            .tag_list{
              span{
                display: inline-block;
                color: $basicRed;
                margin-right: 5px;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
                background-color: #ffffff;
                border-left: 5px solid $basicBlue01;
                cursor: default;
              }
            }
            .content_txt{
              font-size: 14px;
              line-height: 1.7;
              letter-spacing: 1px;
              span{
                display: block;
              }
              ul{
                padding: 0 3px;
                li{
                  padding: 10px 0;
                  border-bottom: 1px dotted #d8d8d8;
                  &:first-child{
                    padding: 0 0 10px;
                  }
                  &:last-child{
                    border-bottom: 0;
                  }
                  a{
                    color: #068acc;
                    @include hover;
                    &::after{
                      display: inline-block;
                      content: "";
                      width: 12px;
                      height: 12px;
                      padding-left: 0.5em;
                      @include bgSet;
                      background-image: url(../img/common/link_icon.png);
                      background-size:12px;
                    }
                  }
                }
              }
            }
          }
          .pop_left{
            width: 480px;
            margin-right: 30px;
          }
          .pop_right{
            width: 480px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  #apply{
    #popUp{
      .popContents{
        .pop_ttl_wrap{
          position: relative;
          text-align: center;
          .pop_ttl{
            font-size: 18px;
          }
          #popClose{
            height: 25px;
            background-size: 20px;
          }
        }
        .pop_text{
          padding: 30px 25px;
        }
      }
    }
  }

  #doctorList{
    #popUp{
      .popContents{
        .doctor_profile{
          position: relative;
          text-align: center;
          padding: 25px 20px 20px;
          &::before{
            display: block;
            content: "";
            position: absolute;
            top:0;
            left:0;
            right:0;
            margin: auto;
            width: 100%;
            height: 10px;
            @include blueGrad;
            border-radius: 5px 5px 0 0;
          }
          .profile_wrap{
            @include flexSet;
            align-items:center;
            .doctor_icon{
              width: 120px;
              height: 120px;
              margin-right: 20px;
              border-radius: 50%;
              background: #ccc;
              @include bgSet;
              background-size: cover;
              box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
              border: solid 3px #ffffff;
              box-sizing: border-box;
            }
            .profile_txt{
              width: calc(100% - 140px);
              text-align: left;
              .hospital{
                font-size: 14px;
                margin-bottom: 10px;
              }
              .name{
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.9px;
                margin-bottom: 10px;
                &::after{
                  display: inline-block;
                  content: "先生";
                  padding-left: 0.3em;
                  font-weight: normal;
                  font-size: 14px;
                }
              }
              .area{
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2.2px;
                color: #ffffff;
                padding: 7px 15px;
                border-radius: 30px;
                box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
                &.tokyo{
                  background-color: $basicBlue01;
                  &::after{
                    content: "東京";
                  }
                }
                &.fukuoka{
                  background-color: $basicRed;
                  &::after{
                    content: "福岡";
                  }
                }
              }
            }
          }
          #popClose{
            background-size: 20px;
          }
        }
        .pop_text{
          .pop_inner{
            display: block;
            .pop_content_wrap{
              margin-bottom: 30px;
            }
            .pop_left{
              width: 100%;
              margin-right: 0px;
            }
            .pop_right{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 730px){
  #popUp{
    .popContents{
      @include waku;
      height: 480px;
    }
  }

  #apply{
    #popUp{
      .popContents{
        .pop_ttl_wrap{
          position: relative;
          text-align: center;
          .pop_ttl{
            font-size: 16px;
            padding: 15px 0;
            @include blueGrad;
            border-radius: 5px 5px 0 0;
          }
          #popClose{
            background-size: 20px;
          }
        }
        .pop_text{
          padding: 20px 15px;
          .pop_item{
            max-height: 380px;
            &::-webkit-scrollbar {
              display: none;
            }
            .pop_wrap{
              margin-bottom: 25px;
              h4{
                font-size: 16px;
                color: $basicBlue01;
                padding-bottom: 10px;
                margin-bottom: 10px;
              }
              p{
                 font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  #doctorList{
    #popUp{
      .popContents{
        .doctor_profile{
          position: relative;
          text-align: center;
          padding: 25px 10px 20px;
          .profile_wrap{
            @include flexSet;
            align-items:center;
            .doctor_icon{
              width: 80px;
              height: 80px;
              margin-right: 20px;
              @include bgSet;
              background-size: cover;
              border: solid 3px #ffffff;
              box-sizing: border-box;
            }
            .profile_txt{
              width: calc(100% - 100px);
              .hospital{
                font-size: 12px;
                margin-bottom: 10px;
              }
              .name{
                font-size: 18px;
                margin-bottom: 10px;
                &::after{
                  padding-left: 0.2em;
                  font-size: 12px;
                }
              }
              .area{
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2.2px;
                color: #ffffff;
                padding: 7px 15px;
                border-radius: 30px;
                box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
              }
            }
          }
          #popClose{
            position: absolute;
            top: 20px;
            right: 0px;
            margin: auto;
            width: 35px;
            height: 15px;
            @include bgSet;
            background-image: url(../img/doctor_list/pop_close.png);
            background-size: 15px;
          }
          .relation{
            width: 80%;
            margin: 10px auto 0;
            display: block;
            position: static;
            padding: 7px 15px;
            text-align: left;
            font-size: 14px;
            text-align: center;
            margin-top: 15px;
          }
        }
        .pop_text{
          width: calc(100% - 20px);
          margin: 0px auto 10px;
          height: 300px;
          .pop_inner{
            padding: 20px 15px;
            height: 300px;
            .pop_content_wrap{
              margin-bottom: 30px;
              .tag_list span{
                font-size: 12px;
              }
              .content_txt{
                font-size: 12px;
                line-height: 1.6;
                ul{
                  padding: 0;
                  li{
                    padding: 10px 0;
                    &:first-child{
                      padding: 0 0 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
