#searchSection, #seachSection2{
  .result{
    width: 100%;
    height: 60px;
    background: #fc9792;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    @include flexSet;
    align-items: center;
    justify-content: center;
    span.txt{
      display: block;
      font-size: 22px;
    }
    span#totalNum{
      display: block;
      font-size: 35px;
      height: 1.1em;
      padding: 0 0.2em 0 0;
    }
  }
  .search_form{
    @include dotBg;
    padding: 40px 0;
    #serchForm, #serchForm2{
      @include basicForm;
    }
    .search_ttl{
      text-align: center;
      font-size: 22px;
      letter-spacing: 1px;
      color: $basicRed;
      margin-bottom: 30px;
    }

    .form_wrap{
      width: 900px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      .search_word{
        width: 100%;
      }
      .submit_wrap{
        position: absolute !important;
        top:0;
        bottom:0;
        right:0;
        margin: auto;
        &::before{
          display: block;
          content: "";
          position: absolute;
          z-index: 10;
          width: 30px;
          height: 30px;
          top:0;
          bottom:0;
          left:10px;
          margin: auto;
          @include bgSet;
          background-image: url(../img/common/search.png);
          background-size: 20px;
        }
        .submit_word{
          height:40px;
          @include blueGrad;
          border: 0;
          box-shadow: 0;
          border-radius: 0 5px 5px 0;
          padding: 0 20px 0 45px;
          color: #fff;
          font-weight: bold;
          transition: opacity 1s;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  #searchSection, #seachSection2{
    .result{
      span.txt{
        font-size: 18px;
      }
      span#totalNum{
        font-size: 30px;
      }
    }
    .search_form{
      padding: 30px 0;
      #serchForm, #serchForm2{
        @include basicForm;
      }
      .search_ttl{
        margin-bottom: 30px;
      }

      .form_wrap{
        width: 650px;
      }
    }
  }
}

@media screen and (max-width: 730px){
  #searchSection, #seachSection2{
    .result{
      height: 50px;
      span.txt{
        font-size: 14px;
      }
      span#totalNum{
        font-size: 25px;
      }
    }
    .search_form{
      padding: 20px 0;
      #serchForm, #serchForm2{
      }
      .search_ttl{
        font-size: 16px;
        margin-bottom: 20px;
      }

      .form_wrap{
        width: 90%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        .search_word{
          width: 100%;
        }
        .submit_wrap{
          position: relative !important;
          margin: auto;
          height: 40px;
          &::before{
            display: block;
            content: "";
            position: absolute;
            z-index: 10;
            width: 30px;
            height: 30px;
            top:0;
            bottom:0;
            left:10px;
            margin: auto;
            @include bgSet;
            background-image: url(../img/common/search.png);
            background-size: 20px;
          }
          .submit_word{
            position: relative;
            display: block;
            width:100%;
            @include blueGrad;
            margin: 10px auto 0;
            border-radius: 5px;
            padding: 10px 0;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            @include bgSet;
            box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
            line-height: 20px;
          }
        }
      }
    }
  }
}
